.env.*.php
.env.php
Thumbs.db
/bootstrap/compiled.php
/vendor
.DS_Store
.vagrant
.idea

app/storage/cache/*
app/storage/views/*
app/storage/sessions/*
app/storage/logs/*
app/storage/debugbar/*

db.sql
use-cases

_ide_helper.php

# Basset development collections
/public/uploads/

install.sh

# Composer
composer.phar
composer.lock

routes.txt

