@media (min-width: 768px) and (max-width:2500px) {


    /*.navbar-nav>li>a {*/
        /*height: 100%;*/
        /*position: relative;*/
        /*padding: 0px;*/
        /*padding-top:80%;*/
        /*border-bottom-left-radius: 0px;*/
        /*border-bottom-right-radius: 50px;*/
    /*}*/
    .navbar-nav>li>a.ads  {
        position: absolute;
        top: 0;
        left:150px;
        width: 50%;
        color: white;
        background-color: #e32115 !important;
    }


}

@media (max-width: 767px)  {

}

body {
    font-family: "Open Sans", sans-serif;
}

.panel-heading {
    border-top-right-radius: 30px;
    border-top-left-radius: 0px;
    border:none;
    background-color: #e32115 !important;
}


.gallery, .gallery a {
    border:none;
    background-color: #bb3333;
    border-bottom-left-radius: 25px;
    color:white;
}

.news-image {
    border-bottom-right-radius: 40px;
    padding:10px;
}
