@media (min-width: 768px) and (max-width:2500px) {

    .navbar-default {
        background-color: white;
        height: 22%;
        min-height: 140px;
        max-height: 150px;
        border: none;
        font-weight: bold;
    }
    .navbar-header {
        width: 13%;
        padding: 5px;
        height: auto;
    }
    .navbar-brand  {
        padding: 0px;
        width: auto;
        min-height: 150px;
    }
    .navbar-nav img {
        width: 80%;
        max-height: 150px;
        display: block;
        height: 100%;
    }
    .navbar-nav {
        width: 85%;
        height:100%;
        display: inline;

    }
    .navbar-nav>li{
        width: 14%;
        height:100%;
        text-align: center;
    }
    .navbar-nav>li>a {
        height: 100%;
        position: relative;
        padding: 0px;
        padding-top:80%;

    }
    .navbar-nav>li>a:hover {
/*        background-color: #e32115 !important;*/
        background-image: url(../images/empty.png);
        border-bottom-left-radius: 20px;
        background-size: cover;
    }
    .navbar-nav>li>a.ads  {
        position: absolute;
        top: 0;
        right:175px;
        width: 52%;
        height:100%;
        min-height:150px;
        color: white;
        background-color: #e32115 !important;
        border-bottom-left-radius: 20px;
    }
    .navbar-default .navbar-nav>.active a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
        background-color: transparent;
        border-bottom-left-radius: 20px;
        background-image: url(../images/empty.png);
        background-size: cover;
    }

    .img-social {
        padding-top:3%;
        width: 13.333333%;
    }
    #footer {
        margin-top:20px;
        min-height: 150px;
    }
    .logo {
        max-width: 90%;
        display: block;
        width:100%;
    }


}

@media (max-width: 767px)  {
    .navbar-default {
        /*background: none;*/
        /*border: none;*/
    }
    .navbar-brand img {
        padding: 0px;
        width: 25%;
        max-width: 140px;
        height: auto;
    }
    .img-social {
        padding: 2px;
       box-shadow: #2B2B2B 2px 2px 10px;
    }
    #footer {
        height: auto;
    }
}

#footer {
    background-image: url(../images/footer.png);
    background-size: 100% auto;
    color: #e32115;
    font-weight: bold;
}
.panel {
    border:none;
}
.panel-heading {
    border-top-left-radius: 30px;
    border:none;
    background-color: #e32115 !important;
}


.img-social:hover {
    opacity: 0.8;
}
.btn-red {
    color:#e32115 !important;
    font-weight: bold;
}
.gallery, .gallery a {
    border:none;
    background-color: #bb3333;
    border-bottom-left-radius: 25px;
    color:white;
}
.thumbnail .caption {
    padding: 17px;
}
.news-image {
    border-bottom-right-radius: 40px;
    padding:10px;
}
p {
    font-weight: bold;
    line-height: 25px;
}
h1,h2,h3,h4 {
    font-size: 150%;
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top20 { margin-top:20px;}
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

.bottom5  { margin-bottom:5px; }
.bottom7  { margin-bottom:7px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom20 { margin-bottom:20px;}
.bottom17 { margin-bottom:17px; }
.bottom30 { margin-bottom:30px; }

/** The Magic **/
.btn-breadcrumb .btn:not(:last-child):after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid white;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: 100%;
    z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid rgb(173, 173, 173);
    position: absolute;
    top: 50%;
    margin-top: -17px;
    margin-left: 1px;
    left: 100%;
    z-index: 3;
}

/** The Spacing **/
.btn-breadcrumb .btn {
    padding:6px 12px 6px 24px;
}
.btn-breadcrumb .btn:first-child {
    padding:6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
    padding:6px 18px 6px 24px;
}

/** Default button **/
.btn-breadcrumb .btn.btn-default:not(:last-child):after {
    border-left: 10px solid #fff;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):before {
    border-left: 10px solid #ccc;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
    border-left: 10px solid #ebebeb;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
    border-left: 10px solid #adadad;
}

/** Primary button **/
.btn-breadcrumb .btn.btn-primary:not(:last-child):after {
    border-left: 10px solid #428bca;
}
.btn-breadcrumb .btn.btn-primary:not(:last-child):before {
    border-left: 10px solid #357ebd;
}
.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):after {
    border-left: 10px solid #3276b1;
}
.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):before {
    border-left: 10px solid #285e8e;
}

/** Success button **/
.btn-breadcrumb .btn.btn-success:not(:last-child):after {
    border-left: 10px solid #5cb85c;
}
.btn-breadcrumb .btn.btn-success:not(:last-child):before {
    border-left: 10px solid #4cae4c;
}
.btn-breadcrumb .btn.btn-success:hover:not(:last-child):after {
    border-left: 10px solid #47a447;
}
.btn-breadcrumb .btn.btn-success:hover:not(:last-child):before {
    border-left: 10px solid #398439;
}

/** Danger button **/
.btn-breadcrumb .btn.btn-danger:not(:last-child):after {
    border-left: 10px solid #d9534f;
}
.btn-breadcrumb .btn.btn-danger:not(:last-child):before {
    border-left: 10px solid #d43f3a;
}
.btn-breadcrumb .btn.btn-danger:hover:not(:last-child):after {
    border-left: 10px solid #d2322d;
}
.btn-breadcrumb .btn.btn-danger:hover:not(:last-child):before {
    border-left: 10px solid #ac2925;
}

/** Warning button **/
.btn-breadcrumb .btn.btn-warning:not(:last-child):after {
    border-left: 10px solid #f0ad4e;
}
.btn-breadcrumb .btn.btn-warning:not(:last-child):before {
    border-left: 10px solid #eea236;
}
.btn-breadcrumb .btn.btn-warning:hover:not(:last-child):after {
    border-left: 10px solid #ed9c28;
}
.btn-breadcrumb .btn.btn-warning:hover:not(:last-child):before {
    border-left: 10px solid #d58512;
}

/** Info button **/
.btn-breadcrumb .btn.btn-info:not(:last-child):after {
    border-left: 10px solid #5bc0de;
}
.btn-breadcrumb .btn.btn-info:not(:last-child):before {
    border-left: 10px solid #46b8da;
}
.btn-breadcrumb .btn.btn-info:hover:not(:last-child):after {
    border-left: 10px solid #39b3d7;
}
.btn-breadcrumb .btn.btn-info:hover:not(:last-child):before {
    border-left: 10px solid #269abc;
}